.cart-item {
  gap: 1rem;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

  &__data {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 0.5rem;
    margin-bottom: 0;
    font-size: 1rem;
    color: #666;

    h3 {
      flex: 1;
      margin: 0;
      font-size: 1.2em;
      color: #333;
    }
    span {
      flex-basis: 100px;
      text-align: right;
    }
  }
}
