section {
  padding: 20px;
}

.cart-items {
  display: flex;
  justify-content: center;
  ul {
    padding: 0;
  }
}

.cart-total {
  margin-top: 20px;
  padding-top: 15px;
  border-top: 1px solid #ccc;
  font-size: 1.4em;
  font-weight: bold;
  text-align: right;
  color: #333;
}

.checkout {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.button-link {
  display: block;
  margin-top: 10px;
  text-align: center;
}
