<h2 class="page-title">Shopping Cart</h2>

<div *ngIf="items?.length === 0">
  <p class="empty-state">Your cart is empty.</p>
  <a class="buy-button button-link" routerLink="/"> Search Products </a>
</div>

<ng-container *ngIf="items.length > 0">
  <div class="cart-list">
    <ul>
      <app-cart-item
        *ngFor="let item of items"
        [item]="item"
        (increment)="updateItem(item, 'increment')"
        (decrement)="updateItem(item, 'decrement')"
      ></app-cart-item>
    </ul>
  </div>

  <div class="checkout">
    <h3>Total: {{ total$ | async | currency }}</h3>

    <button class="buy-button" (click)="buyNow()">Proceed to checkout</button>
  </div>
</ng-container>
