::-moz-selection {
  padding: 20px;
}

.product-list {
  display: grid;
  column-gap: 20px;
  grid-template-rows: auto;
  gap: 20px;
  padding: 20px;
  justify-content: center;

  /** TODO: Refactor to Flexbox */
  &[data-view="list"] {
    grid-template-columns: repeat(1, minmax(1fr, 1fr));
    ::ng-deep .product-item {
      width: 100%;
    }
  }
  &[data-view="grid"] {
    grid-template-columns: repeat(1, minmax(300px, 1fr));
    @media (min-width: 640px) {
      grid-template-columns: repeat(2, minmax(250px, 1fr));
    }
    @media (min-width: 1024px) {
      grid-template-columns: repeat(4, minmax(300px, 1fr));
    }
    @media (min-width: 1280px) {
      grid-template-columns: repeat(4, minmax(300px, 1fr));
    }
  }
}
