<article *ngIf="product" class="product-item">
  <h3 class="product-item__title">{{ product.title }}</h3>
  <img class="product-item__img" [src]="product.image" />
  <!-- Is Manual Shortening necessary? text-overflow with a set height/width achieves the native behavior -->
  <p class="product-item__description" [title]="titleAttr">
    {{ product.description | shortenText }}
  </p>
  <p class="product-item__price">{{ product.price | currency }}</p>
  <button class="add-to-cart-button" (click)="addToCart(product)">
    Add to Cart
  </button>
</article>
