.product-item {
  border: 1px solid rgba(204, 204, 204, 0.42);
  border-radius: 5px;
  padding: 15px;
  text-align: center;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.03);
  background-color: #fcfcfc;
  align-self: start;
  justify-self: start;

  img {
    width: 100px;
    height: 100px;
  }
}

.product-item h3 {
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  font-size: 1.2em;
}

.product-item h3 a {
  text-decoration: none;
  color: inherit;
}

.product-item p {
  margin-bottom: 15px;
  color: #666;
  font-size: 0.9em;
}
